In [1]:
#Dictionaries
d = {'key1':'value', 'key2':123}

In [5]:
d["key2"]

123

In [6]:
d = {'k1':[1,2,3]}

In [7]:
d

{'k1': [1, 2, 3]}

In [10]:
d['k1'][2]

3

In [12]:
my_list = d['k1']
my_list[0]

1

In [13]:
d['k1'][0]

1

In [14]:
d = {'k1': {'innerkey':[1,2,3]}}

In [15]:
d['k1']['innerkey'][0]

1

In [18]:
#Tuples
my_tuple = (1,2,3)

In [19]:
type(my_tuple)

tuple

In [20]:
my_list[0] ='New'

In [21]:
my_list

['New', 2, 3]

In [22]:
my_tuple[0]='New' #ERROR

TypeError: 'tuple' object does not support item assignment

In [23]:
{1,2,3}

{1, 2, 3}

In [24]:
{1,2,3,3,3,1,1,1,2,2,2}

{1, 2, 3}

In [25]:
set([1,2,2,1,1,3,3,3])

{1, 2, 3}

In [26]:
s = {1,2,3}

In [27]:
s.add(4)

In [28]:
s

{1, 2, 3, 4}

In [29]:
#map()


#demo with a func
def times2(var):
    return var*2

In [34]:
times2(5)

10

In [35]:
seq =[1,2,3,4,5]

In [36]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [40]:
#lambda func
t = lambda var:var*2

In [43]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

In [44]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [45]:
s = 'hello my name is Shiv'
s.lower()

'hello my name is shiv'

In [46]:
s.upper()

'HELLO MY NAME IS SHIV'

In [48]:
s.split()

['hello', 'my', 'name', 'is', 'Shiv']

In [50]:
s.split('e')

['h', 'llo my nam', ' is Shiv']

In [56]:
tweet = 'Go Sports! #Sports'
tweet.split('#')[1]

'Sports'

In [57]:
d = {'k1': 1, 'k2' : 2}

In [58]:
d.keys()

dict_keys(['k1', 'k2'])

In [59]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [60]:
d.values()

dict_values([1, 2])

In [62]:
list = [1,2,3,4,5]
item = list.pop()
list.pop(0)

1

In [63]:
item

5

In [64]:
list

[2, 3, 4]

In [65]:
x = [(1,2), (3,4),(5,6)]

In [69]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6